### Corpus filtrado para países hisponablantes del Manifesto project database

Notebook para extraer un dataset filtrado de manifiestos provenientes países hisponahablantes del corpus core de MARPOR. En el código se emplea una API KEY que puede obtenerse de forma gratuita siguiendo las indicaciones en https://manifesto-project.wzb.eu/information/documents/api.

In [2]:
import requests
import pandas as pd

In [1]:
import os
from dotenv import load_dotenv
load_dotenv()
API_KEY = os.getenv("API_KEY")
BASE_URL = "https://manifesto-project.wzb.eu/api/v1/"

In [3]:
def get_core_dataset(version):
    """Obtiene el dataset principal"""
    url = f"{BASE_URL}get_core"
    params = {'api_key': API_KEY, 'key': version, 'kind': 'xlsx'}
    response = requests.get(url, params=params)
    if response.status_code == 200:
        # Decodificar el contenido base64 y leer como un DataFrame de pandas
        import io
        import base64
        content = base64.b64decode(response.json()['content'])
        return pd.read_excel(io.BytesIO(content))
    else:
        print(f"Error al obtener el dataset principal: {response.status_code}")
        return None

In [4]:
core_version = 'MPDS2024a' 
core_df = get_core_dataset(core_version)

In [5]:
core_df.head()

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per608_3,per703_1,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm
0,11,Sweden,0,0,1944-09-17,194409,11220,Communist Party of Sweden,SKP,20,...,NaN,NaN,NaN,9.60,1.9,1.900,0.0,1.900,2024a,JN1LZH
1,11,Sweden,0,0,1944-09-17,194409,11320,Social Democratic Labour Party,SAP,30,...,NaN,NaN,NaN,-37.80,3.3,2.200,33.4,5.600,2024a,CMR7F6
2,11,Sweden,0,0,1944-09-17,194409,11420,People’s Party,FP,40,...,NaN,NaN,NaN,9.50,3.2,6.400,14.3,1.600,2024a,Z6OL6C
3,11,Sweden,0,0,1944-09-17,194409,11620,Right Party,NaN,60,...,NaN,NaN,NaN,28.00,1.8,22.800,10.6,0.000,2024a,YMKVN2
4,11,Sweden,0,0,1944-09-17,194409,11810,Agrarian Party,NaN,80,...,NaN,NaN,NaN,23.81,0.0,19.048,0.0,4.762,2024a,U4SCRD

In [6]:
paises_hispanohablantes = [
    "Argentina", "Bolivia", "Chile", "Colombia", "Costa Rica", 
    "Cuba", "Dominican Republic", "Ecuador", "El Salvador", 
    "Equatorial Guinea", "Guatemala", "Honduras", "Mexico", 
    "Nicaragua", "Panama", "Paraguay", "Peru", "Spain", 
    "Uruguay", "Venezuela"
]

In [7]:
# Filtrar el DataFrame para los países hispanohablantes
core_df_filtrado = core_df[core_df['countryname'].isin(paises_hispanohablantes)]

In [8]:
core_df_filtrado.head()

,country,countryname,oecdmember,eumember,edate,date,party,partyname,partyabbrev,parfam,...,per608_3,per703_1,per703_2,rile,planeco,markeco,welfare,intpeace,datasetversion,id_perm
1566,33,Spain,10,0,1977-06-15,197706,33220,Communist Party of Spain,PCE,20,...,NaN,NaN,NaN,-13.953,4.264,0.388,10.853,0.388,2024a,VVUNDW
1567,33,Spain,10,0,1977-06-15,197706,33320,Spanish Socialist Workers’ Party,PSOE,30,...,NaN,NaN,NaN,-9.253,0.356,0.712,13.523,1.423,2024a,CAFE6R
1568,33,Spain,10,0,1977-06-15,197706,33430,Union of the Democratic Centre/Centrist Bloc,UCD,40,...,NaN,NaN,NaN,-0.469,2.347,6.103,15.493,3.286,2024a,NVYU5M
1569,33,Spain,10,0,1977-06-15,197706,33610,Popular Alliance,AP,60,...,NaN,NaN,NaN,12.069,3.448,14.655,20.690,0.000,2024a,BAWT83
1570,33,Spain,10,0,1977-06-15,197706,33901,Basque Left,EE,90,...,NaN,NaN,NaN,-23.499,1.044,0.783,8.094,3.133,2024a,74CMWM

In [9]:
core_df_filtrado.to_csv("Manifesto_core_spanish.csv")