### Estructuración del dataset según categorías de Nolan

In [1]:
import pandas as pd

In [12]:
df_manifestos = pd.read_csv("../Corpus/manifestos_etiquetados.csv")

In [13]:
df_manifestos = df_manifestos.drop('Unnamed: 0', axis = 1)

In [14]:
df_manifestos.head()

                                                Text Code
0   DECLARACIÓN DE PRINCIPIOSFRENTE PARA LA VICTORIA  NaN
1  Argentina, convicción y capacidad para constru...  NaN
2  La crisis ha sido el rostro de nuestro país du...  000
3  Crisis económica, social, institucional, polít...  000
4  Sin reglas de juego claras y justas en lo econ...  503

In [21]:
# Cargar las tablas de mapeo en dataframes
tabla_libertad_personal_alta = pd.DataFrame({
    'Código': ['201.1', '201.2', '202.4', '503', '607.1', '606.1', '607.2'],
    'Categoría': ['Libertad Personal Alta']*7
})

tabla_libertad_personal_baja = pd.DataFrame({
    'Código': ['202.2', '603', '604', '608.1', '605.2', '606.2'],
    'Categoría': ['Libertad Personal Baja']*6
})

tabla_libertad_economica_alta = pd.DataFrame({
    'Código': ['401', '402', '403', '404', '410', '411', '412', '413'],
    'Categoría': ['Libertad Económica Alta']*8
})

tabla_libertad_economica_baja = pd.DataFrame({
    'Código': ['405', '406', '407', '408', '414', '416.1', '416.2', '412'],
    'Categoría': ['Libertad Económica Baja']*8
})

In [22]:
# Combinar todas las tablas en un solo DataFrame
mapeo_libertad = pd.concat([
    tabla_libertad_personal_alta.assign(libertad_personal_score=1),
    tabla_libertad_personal_baja.assign(libertad_personal_score=0),
    tabla_libertad_economica_alta.assign(libertad_economica_score=1),
    tabla_libertad_economica_baja.assign(libertad_economica_score=0)
], ignore_index=True)

# Rellenar NaN con 0 para las columnas que no tienen mapeo en alguna categoría
mapeo_libertad['libertad_personal_score'] = mapeo_libertad['libertad_personal_score'].fillna(0)
mapeo_libertad['libertad_economica_score'] = mapeo_libertad['libertad_economica_score'].fillna(0)

In [23]:
# Mantener solo las columnas necesarias
mapeo_libertad = mapeo_libertad[['Código', 'libertad_personal_score', 'libertad_economica_score']]

In [24]:
mapeo_libertad

   Código  libertad_personal_score  libertad_economica_score
0   201.1                      1.0                       0.0
1   201.2                      1.0                       0.0
2   202.4                      1.0                       0.0
3     503                      1.0                       0.0
4   607.1                      1.0                       0.0
5   606.1                      1.0                       0.0
6   607.2                      1.0                       0.0
7   202.2                      0.0                       0.0
8     603                      0.0                       0.0
9     604                      0.0                       0.0
10  608.1                      0.0                       0.0
11  605.2                      0.0                       0.0
12  606.2                      0.0                       0.0
13    401                      0.0                       1.0
14    402                      0.0                       1.0
15    403                      0.0                       1.0
16    404                      0.0                       1.0
17    410                      0.0                       1.0
18    411                      0.0                       1.0
19    412                      0.0                       1.0
20    413                      0.0                       1.0
21    405                      0.0                       0.0
22    406                      0.0                       0.0
23    407                      0.0                       0.0
24    408                      0.0                       0.0
25    414                      0.0                       0.0
26  416.1                      0.0                       0.0
27  416.2                      0.0                       0.0
28    412                      0.0                       0.0

In [25]:
# Unir el dataset original con el mapeo de libertad
dataset_mapeado = df_manifestos.merge(mapeo_libertad, left_on='Code', right_on='Código', how='left')

# Rellenar posibles NaN en los scores con 0
dataset_mapeado['libertad_personal_score'] = dataset_mapeado['libertad_personal_score'].fillna(0).astype(int)
dataset_mapeado['libertad_economica_score'] = dataset_mapeado['libertad_economica_score'].fillna(0).astype(int)

In [27]:
# Eliminar la columna 'Código' que ya no es necesaria
dataset_mapeado = dataset_mapeado.drop(columns=['Código'])

In [28]:
dataset_mapeado.head()

,Text,Code,libertad_personal_score,libertad_economica_score
0,DECLARACIÓN DE PRINCIPIOSFRENTE PARA LA VICTORIA,NaN,0,0
1,"Argentina, convicción y capacidad para constru...",NaN,0,0
2,La crisis ha sido el rostro de nuestro país du...,000,0,0
3,"Crisis económica, social, institucional, polít...",000,0,0
4,Sin reglas de juego claras y justas en lo econ...,503,1,0

In [29]:
dataset_mapeado.to_csv("../Corpus/Manifesto_corpus_estructurado.csv")